/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
height: 100%;
}

body{
margin:0;
padding:0;
background:#000;
font-family:'PlayfairDisplay';    
}

@font-face {
    font-family: PlayfairDisplay; 
    src: local("PlayfairDisplay"), 
       url(../fonts/PlayfairDisplay-Italic.ttf) format("truetype-aat"), 
       url(../fonts/PlayfairDisplay-Italic.otf) format("opentype");
}



@font-face {
    /* This declaration targets Internet Explorer */
    font-family: 'SegoeWPBold';
    src: url('../fonts/segeo-wp-bold-webfont.eot');
}

@font-face {
    /* This declaration targets everything else */
    font-family: 'SegoeWPBold';
    src: url(//:) format('no404'), url('../fonts/segeo-wp-bold-webfont.woff') format('woff'), url('../fonts/segeo-wp-bold-webfont.ttf') format('truetype'), url('../fonts/segeo-wp-bold-webfont.svgz#SegoeWPBold') format('svg'), url('../fonts/segeo-wp-bold-webfont.svg#SegoeWPBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


div#shim{
visibility: hidden;
width: 100%;
height: 50%;                                                                     
margin-top: -140px;                                                              
float: left;
}

div#content {
width: 800px;
height: 300px;
margin: 0 auto;
clear: both;
position: relative;
top: -140px;
background-color: rgba(0, 0, 0, 1);

/* IE4ever Hack: Hide from IE4 **/
position: static;
/** end hack */
}

/* Hide from IE5mac \*//*/
div#shim {
display: none;
}
html, body {
height: auto;
}
/* end hack */
/* ]]> */


.logo_box{
width: 300px;
float: left;
border-right: 0px solid #303030;
height: 300px;
position: relative;
background-color: rgba(0, 0, 0, 1);
background: url(../img/logo.png) center center no-repeat;
background-size: 300px 300px;
}

.main_box{
float: left;
width: 500px;
height: 300px;
background-color: #fff;
}

h1{
    font-family: 'PlayfairDisplay';
    font-size: 20px;
    color: #000;
}


div.welcome {
    height: 80px;
    margin: 30px 100px 0px 100px;
    border-bottom: 1px solid #888;
    text-align: center;
}

div.phone {
    height: 45px;
    margin: 20px 100px 0px 100px;
    border-bottom: 1px solid #888;
    text-align: center;
}

div.phone span.phone_number{
    font-family: 'SegoeWPBold';
    font-size: 20px;
    vertical-align:middle;
}

div.addr {
    height: 50px;
    margin: 20px 100px 0px 100px;
    text-align: center;
    font-family: 'PlayfairDisplay';
    font-size: 20px;
}
div.addr a, div.addr a:hover, div.addr a:visited{
    color:#000;
    text-decoration:none;
}
div.social{
    height: 50px;
    margin: 4px 100px;
    text-align: center;
    padding-left: 70px;
}

div.social a.vk{
width: 35px;
height: 35px;
background: url(../img/vk.png) center center no-repeat;
background-size: 35px 35px;
float: left;
margin-right: 14px;
}

div.social a.fb{
width: 35px;
height: 35px;
background: url(../img/f.png) center center no-repeat;
background-size: 35px 35px;
float: left;
margin-right: 14px;
}

div.social a.gp{
width: 35px;
height: 35px;
background: url(../img/g+.png) center center no-repeat;
background-size: 35px 35px;
float: left;
margin-right: 14px;
}

div.social a.em{
width: 35px;
height: 35px;
background: url(../img/e.png) center center no-repeat;
background-size: 35px 35px;
float: left;
margin-right: 14px;
}


.connect{
width: 145px;
padding-left: 20px;
float: left;
padding-top: 20px;
}

.connect img{
margin-right: 5px;
}

